[submodule "03rdSemester/Numerical Analysis/KPI-Awarding"]
	path = 03rdSemester/Numerical Analysis/KPI-Awarding
	url = https://github.com/xairaven/KPI-Awarding
[submodule "04thSemester/Information Security/Crypto-system"]
	path = 04thSemester/Information Security/Crypto-system
	url = https://github.com/xairaven/Crypto-system
[submodule "04thSemester/Statistics/StatisticsCW"]
	path = 04thSemester/Statistics/StatisticsCW
	url = https://github.com/xairaven/StatisticsCW
[submodule "06thSemester/Graphical-Interfaces/Lab3/src"]
	path = 06thSemester/Graphical-Interfaces/Lab3/src
	url = https://github.com/xairaven/AlarmClock
[submodule "07thSemester/Computer-Graphics-1/Workspace"]
	path = 07thSemester/Computer-Graphics-1/Workspace
	url = https://github.com/xairaven/KPI-CompGraphics
[submodule "BachelorDiploma/Project"]
    path = BachelorDiploma/Project
    url = https://github.com/xairaven/xailyser
