<?xml version="1.0"?>

<configuration>
    <connectionStrings>
        <add name="ApplicationDatabase"
             connectionString="Data Source=|DataDirectory|/Database/Alarms.db"/>
    </connectionStrings>
    <appSettings>
        <add key="SyncFusionKey" 
             value="" />
    </appSettings>
</configuration>